<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
        <title>components</title>
        <link rel="stylesheet" href="//static.djtest.cn/assets/project/universal_pay/styles/velvet.css">
        <link rel="stylesheet" href="main.index.css">
        <link rel="stylesheet" href="main.demo.css">
    </head>
    <body>
        <app></app>
        <script src='/libs/vue.min.js'></script>
        <script src="main.index.js" charset="utf-8"></script>
        <script src="main.demo.js" charset="utf-8"></script>
    </body>
</html>
